main {
    height: 200px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

main div {
    display: flex;
}

h1 {
    font-size: 35px;
    padding: 20px 0 30px 0;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

ol {
    justify-content: center;
}

form {
    justify-content: left;
    margin-top: 50px;
    margin-left: -40px;
    display: none;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

#startBtn, .Btn {
    margin: 20px auto;
    color: white;
    background-color: purple;
    padding: 5px 10px;
    border-radius: 5px 5px 5px 5px;
    transition-property: background-color;
    transition-duration: 1.5s;
}

#startBtn:hover, .Btn:hover {
    background-color: black;
    cursor: pointer;
}

#answer {
    border-top: solid 2px grey;
    margin: 20px auto;
    padding-top: 10px;
    font-size: 20px;
    width: 30%;
    justify-content: center;
}

#msg {
    color: red;
    font-size: 20px;
    justify-content: center;
    padding-top: 10px;
}

#top-scores {
    text-align: left;
    width: 200px;
    margin: 0 auto;
}

#viewHighScoresBtn {
    text-decoration: underline;
    color: purple;
}

#viewHighScoresBtn:hover {
    color: blue;
    cursor: pointer;
}

#highscore-title {
    font-size: 4em;;
}

.box {
    background-color: purple;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    transition-property: background-color;
    transition-duration: 1.5s;
    cursor: pointer;
}

.box:hover {
    background-color: black;
}

.userList {
    padding: 10px 0;
    font-size: 1.5em;
    background-color: lightblue;
    margin-top: 10px;
    width: 200px;
}

.input-initials {
    margin-right: 10px;
    
}