#header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

main {
    height: 200px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
main div {
    display: flex;
}

h2 {
    font-size: 35px;
    padding: 20px 0 30px 0;
    text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
}

#startBtn, .Btn {
    margin: 20px auto;
    color: white;
    background-color: purple;
    padding: 5px 10px;
    border-radius: 5px 5px 5px 5px;
}

.box {
    background-color: purple;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
ol {
    justify-content: center;
}

form {
    justify-content: left;
    margin-top: 50px;
    margin-left: -40px;
    display: none;
}

.input-initials {
    margin-right: 10px;
    
}

#answer {
    border-top: solid 2px grey;
    margin: 20px auto;
    padding-top: 10px;
    font-size: 20px;
    width: 30%;
    justify-content: center;
}

#msg {
    color: red;
    font-size: 20px;
    justify-content: center;
    padding-top: 10px;
}

